.intro__container {
  margin: 0 auto;
  padding: 80px 48px 0;
  max-width: 984px;
}

@media screen and (max-width: 768px) {
  .intro__container {
    padding: 80px 24px 0;
  }
}

@media screen and (max-width: 375px) {
  .intro__container {
    padding: 64px 16px 0 16px;
  }
}
