.footer__copyright {
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-top: 1rem;
    max-width: 186px;
    align-self: flex-start;
  }
}
