.lead__subtitle {
  max-width: 583px;
  margin-top: 0;
  margin-bottom: 78px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 660px;
  }
}

@media screen and (max-width: 670px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 320px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}
