.content-title {
  color: white;
  margin: 0 auto 48px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .content-title {
    margin: 0 auto 24px;
    max-width: 640px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .content-title {
    margin: 0 auto 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
