.intro__title {
  margin: 0 0 48px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 670px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 32px 0;
  }
}
